@model IEnumerable<Jewilry.Models.ArticuloViewModel>

<div id="carouselExampleIndicators" class="carousel slide customCarousel" data-bs-ride="carousel">

    <div class="carousel-inner cosa">
        @{
            int contador = 0;
        }

        @foreach (var item in Model)
        {

            if (contador == 0)
            {
                <div class="centro carousel-item active h-75 px-0">
                    <div>
                        <a href='@Url.Action("Details", "Articulo", routeValues: new { id = item.Id })'>
                            <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Foto)" class="img-fluid img-thumbnail" width="25%">
                        </a>
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                </div>
                contador++;
            }
            else
            {
                <div class="centro carousel-item h-75 px-0">
                    <div>
                        <a href='@Url.Action("Details", "Articulo", routeValues: new { id = item.Id })'>
                            <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Foto)" class="img-fluid img-thumbnail" width="25%">
                        </a>
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                </div>
            }


        }

    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    
</div>




