@model IEnumerable<Jewilry.Models.ArticuloViewModel>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner cosa">
        @{
            int contador = 0;
        }

        @foreach (var item in Model)
        {

            if (contador == 0)
            {
                <div class="centro carousel-item active h-75 px-0">
                    <div>
                        <a href='@Url.Action("Details", "Articulo", routeValues: new { id = item.Id })'>
                            <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Foto)" class="img-fluid img-thumbnail" width="20%">
                        </a>
                    </div>

                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Precio)</p>
                </div>
                contador++;
            }
            else
            {
                <div class="centro carousel-item h-75 px-0">
                    <div>
                        <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Foto)" class="img-fluid img-thumbnail" width="20%">
                    </div>

                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Precio)</p>
                </div>
            }


        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




